* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}




/* deze heb ik dus weggehaald */

/* alert !!!!*/
/* .custom-alert {
  border: none;
  border-radius: 10px;
  background-color: #0047AB;
  color: #ffffff;
  width: 95%;
  margin: auto;
  padding: 15px;
  position: relative;
  text-align: center;
}

.custom-alert p {
  letter-spacing: 3x;
  font-size: 18px;
}

.alert-button {
  filter: invert(1);
  cursor: pointer;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.alert-button:focus {
  outline: none;
} */

















/* hero */

.container-fluid.d-flex.align-items-center.justify-content-center > img {
width: 100%!important;
}






/* knoppen onder de grote foto */

.grid-banner-item {
  background-color: #86B3F4; 
  color: #fff; 
  text-align: left; 
  padding: 20px; 
  border-radius: 5px; 
  margin-right: 10px; 
}

.grid-banner-item:hover {
  background-color: #0047AB;
}

.grid-banner-item h2 {
  font-size: 18px; 
}

.grid-banner-item:hover {
  text-decoration: underline;
}

.grid-banner-item {
  height: 100px;
  border-radius: 10px;
  overflow: hidden; 
}

/* foto in grid-banner-item */

.square-photo {
  text-align: right;
  max-width: 50%;
  margin-left: auto;
}



/* .products-preview-section */



/* hier een probeersel voor box-shadow op product foto database */
.products-preview-section .product-item img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Hier voeg je de box-shadow toe */
}



/* Algemene stijl voor container */
.products-preview-section .container-fluid {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.products-preview-section .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Standaard stijl voor productitems */
.products-preview-section .product-item {
  text-align: center;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 10px;
  display: inline-block;
}

/* Stijl voor productafbeeldingen binnen productitems */
.products-preview-section .product-item img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Stijl voor paragrafen binnen productitems */
.products-preview-section .product-item p {
  margin: 5px 0;
}

/* Stijl voor "Toon meer" knop */
.products-preview-section .show-more-button:hover {
  background-color: #86B3F4;
}

/* Responsive styling voor productitems op kleine schermen */
@media (max-width: 767px) {
  .products-preview-section .product-item {
    text-align: center;
    margin: 0 auto;
    width: calc(100% - 20px);
    display: block;
  }
}



/* favoriet knop */

.product-item {
  text-align: center;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 3px;
  display: inline-block;
  position: relative;
}

/* favoriet icoon */

.favoriet-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 10px;
  right: 10px;
}

.favoriet-button {
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.favoriet-button::before {
  content: "";
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='black' class='bi bi-suit-heart' viewBox='0 0 16 16'%3E%3Cpath d='m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: block;
}


.favoriet-icoon-cirkel {
  width: 40px;
  height: 40px;
  background-color: #86B3F4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.favoriet-icoon-cirkel:hover {
  background-color: #0047AB;
}

/* show more button */
.show-more-button-container {
  display: flex;
  justify-content: center;
}

.show-more-button {
  background-color: #0047AB;
  color: white;
  border: none;
  padding: 15px 30px; 
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.show-more-button:hover {
  background-color: #86B3F4;
}

/* show less button */

.show-less-button {
  background-color: #0047AB;
  color: white;
  border: none;
  padding: 15px 30px; 
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.show-less-button:hover {
  background-color: #86B3F4;
}



/* welkom bij amorie sectie */

.welkom-bij-button {
  background-color: #0047AB;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  margin-top: 15px;
}

.welkom-bij-button:hover {
  background-color: #86B3F4;
  text-decoration: none;
}



/* carousel sectie */
.carousel-inner {
  display: flex;
  align-items: center;
  height: 100%;
}

.carousel-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 20px;
}

.carousel-item img {
  max-height: 100%;
  max-width: 60%;
}

.carousel-text {
  max-width: 45%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* review */

/* zorgen dat je niet horizontaal kan scrollen ondanks de horizontaal bewegende afbeeldingen */
.reviews-container {
  overflow-x: hidden;
}

/* call to action */
.button-container {
  height: 100px;
  margin-bottom:  150px;
}



/* email input */

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.scheidings-lijn {
  background-color: #c4d9f7;
  margin-bottom: 35px;
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;
}



/* footer */

footer.bg-dark.text-white {
  background-color: #000; 
  color: #fff; 
}

footer a {
  text-decoration: none;
  color: white;
}


footer a:hover {
  text-decoration: underline;
}




/* dit is voor de product links om naar de productpagina te gaan */
/* .product-link {
  text-decoration: none;
}

.product-link:hover {
  cursor: pointer;
} */


.product-link {
  text-decoration: none;
  color: inherit; /* Gebruik de standaardkleur van de ouder (bijv. zwart) */
}

